<div class="container my-1">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-primary" role="alert">
      Bienvenido al Inicio - Landing Page
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="list-group" id="myList" role="tablist">
        <a class="list-group-item list-group-item-action" data-toggle="list" [routerLink]="['noticias']" routerLinkActive="active" role="tab">Noticias</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" [routerLink]="['equipo']" routerLinkActive="active" role="tab">Equipo</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" [routerLink]="['eventos']" routerLinkActive="active" role="tab">Eventos</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" [routerLink]="['alertas']" routerLinkActive="active" role="tab">Alertas</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

